DB_CONNECTION=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost\SQLEXPRESS;DATABASE=HealthBot;Trusted_Connection=yes;TrustServerCertificate=yes;
JWT_SECRET=thay-bang-chuoi-bi-mat-dai-it-nhat-32-ky-tu
RASA_REST_URL=http://localhost:5005/webhooks/rest/webhook
